/* HEADER */
header{
    background-color: var(--primary-color);
    padding: var(--inner-space) 0; 
    position: sticky;
    top: 0;
    z-index: 30; 
}
header .hamburger{
    display: none;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
}
header ul li a:not(.btn){
    display: inline-block;
    padding: var(--inner-space);
    color: var(--light-color);
    text-decoration: none;
}


/* MAIN */
/* FIRST-SECTION */
section:first-of-type .cards{
    margin: 0 -0.75rem;
}
section:first-of-type .cards .card{
    width: calc((100% / 3) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: var(--main-space);
    background-color: var(--primary-color-light);
    border-radius: 20px;
}

section:first-of-type .cards .card.flex.space{
    width: calc(((100% / 3) * 2) - 1.5rem);
}
section:first-of-type .cards .card:not(:first-child) {
    padding: var(--inner-space);
    text-align: center;
}
section:first-of-type .cards .card:not(:first-child) h3 {
    margin: 15px 0;
}
section:first-of-type .cards .card p {
    line-height: 1.5rem;
}
section:first-of-type .cards .card.flex.space > *{
    width: 50%;
}
section:first-of-type .cards .card-image{
    align-items: flex-end;
    padding-left: 20px;
}
section:first-of-type .cards .card-image img{
    width: 85%;
}

/* SECOND SECTION */
section:nth-of-type(2){
    background-color: var(--secondary-color);
}
section:nth-of-type(2) .row{
    max-width: 750px;
    margin: 0 auto;
    align-items: flex-end;
}
section:nth-of-type(2) .row .col {
    width: 50%;
}
section:nth-of-type(2) .row .col:last-child {
    width: 45%;
}
section:nth-of-type(2) .row .col:first-child{
    padding-top: 40px;
}
section:nth-of-type(2) .row .col:first-child img{
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}
section:nth-of-type(2) .row .col:first-child h2{
    color: var(--light-color);
    padding-top: 100px;
}
section:nth-of-type(2) .row .col:first-child p{
    color: var(--light-color);
    padding-top: var(--main-space);
    line-height: 1.6rem;
    
}
section:nth-of-type(2) .planning-right-side{ 
    background-color: var(--light-color);
    padding-bottom: 20px;
    border-radius: 30px;
    margin-left: 10%;
}
section:nth-of-type(2) .planning-right-side >*{ 
    text-align: center;
    line-height: 1.5em;
    padding-top: 1rem;

}
section:nth-of-type(2) .planning-right-side img{ 
    width: 55%;
    margin-left: 50%;
    transform: translate(-50%);
}
section:nth-of-type(2) .planning-right-side p{ 
    width: 90%;
    margin: 0 auto; 
}
section:nth-of-type(2) .planning-right-side .purple-arrow{ 
    padding-top: var(--inner-space);
    background-color: var(--secondary-color);
    width: var(--main-space); 
    height: var(--main-space);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: var(--inner-space);
    padding-top: 0;
    line-height: var(--main-space); 
    font-size: 0.7rem;     
}

/* THIRD SECTION */
section:nth-of-type(3){
    scroll-margin-top: 100px;
    padding-bottom: 5rem;
}
section:nth-of-type(3) .container > *{ 
    margin-bottom: var(--main-space) 0;
}
section:nth-of-type(3) .text-align{
    padding: var(--inner-space);
    line-height: 1.5rem;
}
section:nth-of-type(3) .card{
    background-color: var(--secondary-color);
    padding: 1rem;
}
section:nth-of-type(3) .container h1{
    color: var(--secondary-color);
}
section:nth-of-type(3) .card.flex{
    margin-top: var(--main-space);
    border-radius: 50px;
    padding: var(--main-space) var(--inner-space);
}
.round{
}
.round img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.quote{
    width: 80%;
    padding: var(--main-space);
    color: var(--light-color);
}


/* FOURTH SECTION */
section:nth-of-type(4){
    background-color: var(--secondary-color);
}
section:nth-of-type(4) .row{
    margin: 0 -0.75rem;
}
section:nth-of-type(4) .row .col{
    width: calc((100% / 3) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: var(--main-space);
    
}
section:nth-of-type(4) .row .col div{
    padding-bottom: 1.5rem;
    border-radius: 20px;
    background-color: var(--light-color);
    padding: var(--main-space);
}
section:nth-of-type(4) .row .col > div > *:not(p){
   color: var(--secondary-color);
}
section:nth-of-type(4) .row .col > div > p{
   line-height: 1.5rem;
}
section:nth-of-type(4) .row .col > div > *{
   margin-top: var(--inner-space);
}
section:nth-of-type(4) .row .col > div > h2{
   font-size: 3rem;
}
section:nth-of-type(4) .row .col .btn{
   color: var(--light-color);
   background-color: var(--secondary-color);
   padding: 5px 40px;
}

/* FIFTH SECTION */
section:nth-of-type(5) .row .col:first-of-type {
    width: 60%;
}
section:nth-of-type(5) .row .col:last-of-type {
    width: 20%;
    color: var(--secondary-color);
    margin: 0 auto;
}
section:nth-of-type(5) .row{
    margin-top: 30px;
    margin-bottom: 50px;
}

section:nth-of-type(5) .row .col:first-of-type h1{
    color: var(--secondary-color);
}
section:nth-of-type(5) .row .col:first-of-type p{
    line-height: 1.8rem;
    padding-top: var(--inner-space);
}
section:nth-of-type(5) .row .col:last-of-type .round{
    position: relative;
}
section:nth-of-type(5) .row .col:last-of-type .round > .quotation-mark i{
    position: absolute;
    top: 0;
    left: 70%;
}
section:nth-of-type(5) .row .col:last-of-type h3{
    line-height: 1.8rem;
}
section:nth-of-type(5) .row .col:last-of-type a{
    font-size: 0.7em;
    padding: 5px 10px;
    color: var(--light-color);
    background-color: var(--secondary-color);
}   
section:nth-of-type(5) .row .col:last-of-type a > span{
    margin-left: 5px;
}   
/* SIXTH SECTION */
section:last-of-type{
    background-color: var(--secondary-color);
}
section:last-of-type .container {
    max-width: 500px;
}
section:last-of-type .container .pad10{
   color: var(--light-color);
}
section:last-of-type .container .pad10:first-child{
   color: lightgrey;
   font-size: 0.8em;
}
section:last-of-type .container .pad10 h1{
   font-size: 4em;
   color: goldenrod;
}
section:last-of-type .container .pad10 p{
    font-size: 0.8em;
    width: 80%;
    margin: 0 auto;
}
section:last-of-type .container .pad10.btn {
    margin-left: 50%;
    transform: translate(-50%);
    color: var(--secondary-color);
    font-size: 0.8em;
    padding: 15px 30px;
    margin-top: var(--inner-space);
    margin-bottom: var(--inner-space);
}
section:last-of-type .container .pad10:last-child{
   font-size: 0.8em;
}
section:last-of-type .container .pad10:last-child i {
   font-size: 0.1em;
}
section:last-of-type .container .pad10:last-child span {
   text-decoration: underline;
}

/* FOOTER */
footer .container{
    max-width: 350px;
}
footer{
    background-color: var(--last-color);
    color: var(--light-color);
    font-size: 0.8em;
}
footer span{
    color: var(--secondary-color);
    text-decoration: underline;
}

/* MEDIA QUERY */

/* MEDIUM */
@media screen and (max-width: 992px) {

    .container{
        max-width: 750px;
    }
    header .hamburger{
        display: block;
    }
    header nav{
        display: none;
    }
    section:first-of-type .cards .card.flex.space{
        flex-wrap: wrap;
    }
    section:first-of-type .cards .card.flex.space > *{
        width: 100%;
    }
    section:first-of-type .cards .card-image img{
        width: 60%;
    }
    section:nth-of-type(2) .row{
        flex-wrap: wrap;
    }
    section:nth-of-type(2) .row .col {
        width: 100%;
    }
    section:nth-of-type(2) .row .col:last-child{
        width: 100%;
        padding: 0;
    }
    section:nth-of-type(2) .planning-right-side{
        height: 100%;
        margin-left: 0;
    }
    section:nth-of-type(2) .row .col h2{
        font-size: 4rem;
    }
    section:nth-of-type(2) .row .col p:first-of-type{
        margin-bottom: 2rem;
    }
    section:nth-of-type(3) .row{
        flex-wrap: wrap;
    }
    section:nth-of-type(3) .row .col {
        width: calc(50% - 1.5rem);
    }
    section:nth-of-type(4) .row .col{
        width: calc((100% / 2) - 1.5rem);
    }
    section:nth-of-type(5) .row .col:first-of-type h1{
        font-size: 3rem;
    }
    section:nth-of-type(5) .row .col:first-of-type{
        width: 50%;
    }
    section:nth-of-type(5) .row .col:last-of-type{
        width: 40%;
    }
    section:nth-of-type(5) .row .col:last-of-type h3{
        width: 70%;
    }
}

/* SMALL */
@media screen and (max-width: 768px){

    .container{
        max-width: 600px;
    }
    section:first-of-type .cards .card .inner-space > h3{
        text-align: center;
    }
    section:first-of-type .cards .card .inner-space > a{
        margin-left: 50%;
        transform: translate(-50%);
    }
    section:first-of-type .cards .card{
        width: calc(100% - 1.5rem);
    }
    section:first-of-type .cards .card.flex.space{
        width: calc(100% - 1.5rem);
    }
    section:first-of-type .cards .card-image{
        padding-left: 0;
    }
    section:first-of-type .cards .card-image img{
        margin: 0 auto;
    }
    section:nth-of-type(2) .row .col h2{
        font-size: 2rem;
    }
    section:nth-of-type(3) .card{
        flex-wrap: wrap;    
    }
    section:nth-of-type(3) .card > *{
        width: 100%; 
          
    }
    section:nth-of-type(3) .card >.round{
        width: 350px;
        height: 350px;
        margin: 0 auto;
        padding: 10px;
    }
    section:nth-of-type(3) .card >.quote{
        font-size: 1.5rem;
        text-align: center;
        
    }
    section:nth-of-type(4) .row .col{
        width: 100%;
    }
    section:nth-of-type(5) .row.flex{
        flex-wrap: wrap;
    }
    section:nth-of-type(5) .row .col:first-of-type{
        width: 100%;
    }
    section:nth-of-type(5) .row .col:last-of-type{
        width: 100%;
        margin-top: var(--main-space);
    }
}



