/* HEADER */
header{
    background-color: var(--primary-color);
}
/* MAIN */
/* FIRST-SECTION */
.cards{
    margin: 0 -0.75rem;
}
.cards .card{
    width: calc((100% / 3) -1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: var(--main-space);
    background-color: var(--primary-color-light);

}
.cards .card.flex.space{
    width: calc((100% / 3) * 2);
}
.cards .card.flex.space > *{
    width: 50%;
}

/* SECOND SECTION */
section:nth-of-type(2){
    background-color: var(--secondary-color);
}
section:nth-of-type(2) .row{
    max-width: 768px;
    margin: 0 auto;
    align-items: flex-end;
}
section:nth-of-type(2) .row .col {
    width: 50%;
}

/* THIRD SECTION */

section:nth-of-type(3) .container > *{ 
    margin-bottom: var(--main-space) 0;
}
section:nth-of-type(3) .card{
    background-color: var(--secondary-color);
    padding: 1rem;
}

/* FOURTH SECTION */
section:nth-of-type(4){
    background-color: var(--secondary-color);
}
section:nth-of-type(4) .row{
    margin: 0 -0.75rem;
}
section:nth-of-type(4) .row .col{
    width: calc((100% / 3) -1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: var(--main-space);
}

/* FIFTH SECTION */
section:nth-of-type(5) .row .col:first-of-type {
    width: 60%;
}
section:nth-of-type(5) .row .col:last-of-type {
    width: 40%;
}

/* SIXTH SECTION */
section:last-of-type{
    background-color: var(--secondary-color);
}
section:last-of-type .container {
    max-width: 400px;
}

/* FOOTER */
